.cart {
  padding: 20px;
  &__title {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: 300;
    text-align: center;
  }
  &__nav {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-cont {
      padding: 10px;
      font-weight: 600;
      font-size: 13.3px;
      cursor: pointer;
      background-color: transparent;
      text-align: center;
      border-width: 2px;
      border-style: outset;
      border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
      text-decoration: none;
      color: black;
    }
    &-links {
      span {
        margin: 0px 10px;
        color: black;
        text-decoration: underline;
        cursor: pointer;
      }
    }
    &-checkout {
      font-size: 13.3px;
      display: block;
      padding: 10px;
      font-weight: 600;
      cursor: pointer;
      border: none;
      background-color: black;
      color: white;
      border: none;
      text-decoration: none;
    }
  }
  &__wrapper {
    display: flex;
    justify-content: space-between;
    h5 {
      font-size: 37px;
      margin: 36px 0;
    }
  }
  &__items {
    flex: 3;
    hr {
      background-color: #eee;
      border: none;
      height: 1px;
    }
  }
  &__item {
    display: flex;
    justify-content: space-between;
    height: 215px;
    position: relative;
    &-img {
      flex: 0.5;
      text-decoration: none;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
    &-content {
      flex: 1;
      padding: 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }
    &-features {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    &-name, &-id, &-size {
      font-weight: bold;
      span {
        font-weight: normal;
        text-transform: uppercase;
      }
    }
    &-cross {
      position: absolute;
      top: 5%;
      right: 3%;
      border: none;
      background-color: #fff;
      svg {
        width: 1.2em;
        cursor: pointer;
      }
    }
    &-circle {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      border: 1px solid black;
    }
    &-calc {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
      span {
        font-size: 32px;
        cursor: pointer;
      }
      div {
        font-size: 24px;
        margin: 5px;
      }
    }
    &-price {
      font-size: 30px;
      font-weight: 200;
    }
    &_add {
      padding: 10px;
      font-weight: 600;
      cursor: pointer;
      border: none;
      background-color: black;
      color: white;
      border: none;
      margin-bottom: 20px;
      position: relative;
      overflow: hidden;
      transition: .5s all;
      &:active {
        color: black;
        background-color: white;
      }
      &:after {
        content: "";
        background: #1abc9c;
        display: block;
        position: absolute;
        padding-top: 300%;
        padding-left: 350%;
        margin-left: -20px !important;
        margin-top: -120%;
        opacity: 0;
        transition: all 1.2s
      }
      &:active:after {
        padding: 0;
        margin: 0;
        opacity: 1;
        transition: 0s
      }
      &:focus {
        outline:0;
      }
    }
  }
  &__order {
    flex: 1;
    border: 0.5px solid lightgray;
    border-radius: 10px;
    padding: 20px;
    height: 50vh;
    &-title {
      font-weight: 200;
      display: block;
      font-size: 2em;
    }
    &-content, &-total {
      display: flex;
      justify-content: space-between;
      margin: 30px 0px;
    }
    &-total {
      div, span {
        font-weight: 500;
        font-size: 24px;
      }
    }
    &-checkout {
      width: 100%;
      padding: 10px;
      background-color: black;
      color: white;
      font-weight: 600;
      border: none;
      cursor: pointer;
      &:disabled {
        opacity: 0.65;
        cursor: not-allowed;
      }
    }
  }
}
