@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@300;500;700&display=swap');

* {
  font-family: 'Urbanist', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header {
  &__banner {
    height: 30px;
    background-color: teal;
    color: white;
    font-size: 14px;
    line-height: 30px;
    font-weight: 500;
    text-align: center;
  }
  &__promo {
    min-height: 60px;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &_search {
      position: relative;
      span {
        font-size: 14px;
        cursor: pointer;
      }
      input {
        width: 190px;
        height: 30px;
        padding: 5px 25px 5px 5px;
        margin-left: 25px;
      }
      label {
        position: absolute;
        right: 4%;
        top: 50%;
        transform: translateY(-50%);
      }
    }
    &_link {
      font-weight: bold;
      text-transform: uppercase;
      text-decoration: none;
      font-size: 2em;
      color: black;
    }
    &_act {
      a {
        font-size: 14px;
        cursor: pointer;
        text-decoration: none;
        color: black;
        text-transform: uppercase;
        margin-left: 25px;
      }
      &-cart {
        position: relative;
        div {
          position: absolute;
          top: -58%;
          right: -80%;
          width: 20px;
          height: 20px;
          color: #fff;
          background-color: #3f51b5;
          text-align: center;
          line-height: 20px;
          border-radius: 50%;
        }
      }
    }
  }
}

.slider {
  position: relative;
  width: 100%;
  height: 100vh;
  &__item {
    height: 100%;
    background-color: #fbf0f4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 50px;
    &-img {
      height: 100%;
      flex: 1;
      img {
        height: 80%;
      }
    }
    &-content {
      flex: 1;
      h1 {
        font-size: 70px;
      }
      span {
        display: block;
        margin: 50px 0px;
        font-size: 20px;
        font-weight: 500;
        letter-spacing: 3px;
      }
      button {
        padding: 10px;
        font-size: 20px;
        background-color: transparent;
        cursor: pointer;
      }
    }
  }
  &__right, &__left {
    position: absolute;
    top: 40%;
    width: 50px;
    height: 50px;
    background-color: #fff7f7;
    border-radius: 50%;
    opacity: 0.5;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    svg {
      fill: currentColor;
      width: 1em;
      height: 1em;
      display: inline-block;
      font-size: 1.5rem;
      transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
      flex-shrink: 0;
      user-select: none;
    }
  }
  &__right {
    right: 2%;
  }
  &__left {
    left: 2%;
  }
}

.category {
  padding: 20px;
  &__items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &__item {
    flex: 1;
    height: 100%;
    min-width: 335px;
    position: relative;
    height: 70vh;
    margin: 3px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &_content {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0 20px;
      &-title {
        text-align: center;
        color: white;
        display: block;
        font-size: 2em;
        margin-block-start: 0.67em;
        margin-block-end: 0.67em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-weight: bold;
      }
      &-link {
        display: block;
        width: 90px;
        height: 36px;
        border: none;
        line-height: 36px;
        text-align: center;
        background-color: white;
        color: gray;
        cursor: pointer;
        font-weight: 600;
        text-decoration: none;
      }
    }
  }
}

.products {
  padding: 20px;
  &__items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &__item {
    position: relative;
    min-width: 280px;
    height: 350px;
    background-color: #f5fbfd;
    flex: 1;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    &_inner {
      &-circle {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          z-index: 2;
          height: 75%;
        }
      }
    }
    &_outer {
      opacity: 0;
      transition: .3s all;
      position: absolute;
      top: 0;
      left: 0;
      background-color: rgba(0,0,0,0.2);
      z-index: 3;
      display: flex;
      width: 100%;
      height: 100%;
      justify-content: center;
      align-items: center;
      &-links {
        display: flex;
        a {
          text-decoration: none;
          width: 40px;
          height: 40px;
          border-radius: 50%;
          background-color: white;
          display: flex;
          align-items: center;
          justify-content: center;
          margin: 10px;
          transition: .3s all;
          &:hover {
            background-color: #e9f5f5;
            transform: scale(1.1);
          }
          svg {
            fill: currentColor;
            width: 1em;
            height: 1em;
            display: inline-block;
            font-size: 1.5rem;
            transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
            flex-shrink: 0;
            user-select: none;
          }
        }
      }
    }
    &:hover {
      .products__item_outer {
        opacity: 1;
      }
    }
  }
}

.newseller {
  height: 60vh;
  background-color: #fcf5f5;
  margin: 0 auto;
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &-title {
      font-size: 70px;
      margin-bottom: 20px;
      display: block;
      margin-block-start: 0.67em;
      margin-block-end: 0.67em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
      font-weight: bold;
    }
    &-descr {
      font-size: 24px;
      font-weight: 300;
      margin-bottom: 20px;
    }
  }
  &__form {
    width: 50%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    input {
      flex: 8;
      height: 100%;
      border: none;
      padding-left: 20px;
    }
    button {
      flex: 1;
      border: none;
      background-color: teal;
      color: white;
      cursor: pointer;
      svg {
        fill: currentColor;
        width: 1em;
        height: 1em;
        display: inline-block;
        font-size: 1.5rem;
        transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
        flex-shrink: 0;
        user-select: none;
      }
    }
  }
}

.footer {
  display: flex;
  justify-content: space-between;
  &__content {
    flex: 1;
    padding: 20px;
    &-title {
      display: block;
      font-size: 2em;
      margin-block-start: 0.67em;
      margin-block-end: 0.67em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
      font-weight: bold;
    }
    &-descr {
      margin: 20px 0;
      display: block;
      margin-block-start: 1em;
      margin-block-end: 1em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
    }
    &-socials {
      display: flex;
      a {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        color: white;
        background-color: #3B5999;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 20px;
        text-decoration: none;
        &:nth-child(2) {
          background-color: #E4405F;
        }
        &:nth-child(3) {
          background-color: #55ACEE;
        }
        &:nth-child(4) {
          background-color: #E60023;
        }
        svg {
          fill: currentColor;
          width: 1em;
          height: 1em;
          display: inline-block;
          font-size: 1.5rem;
        }
      }
    }
  }
  &__links {
    flex: 1;
    padding: 20px;
    &-title {
      display: block;
      font-size: 1.17em;
      margin-block-start: 1em;
      margin-block-end: 1em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
      font-weight: bold;
      margin-bottom: 30px;
    }
    &-list {
      display: flex;
      flex-flow: wrap;
      li {
        width: 50%;
        margin-bottom: 10px;
        list-style: none;
        a {
          text-decoration: none;
          color: black;
        }
      }
    }
  }
  &__contact {
    flex: 1;
    padding: 20px;
    &-title {
      margin-bottom: 30px;
      display: block;
      font-size: 1.17em;
      margin-block-start: 1em;
      margin-block-end: 1em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
      font-weight: bold;
    }
    &-adress, &-tel, &-email {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
      svg {
        margin-right: 10px;
        fill: currentColor;
        width: 1em;
        height: 1em;
        display: inline-block;
        font-size: 1.5rem;
        transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
        flex-shrink: 0;
        user-select: none;
      }
    }
  }
}

.product {
  padding: 50px;
  display: flex;
  justify-content: space-between;
  &__logo {
    flex: 1;
    img {
      width: 100%;
      height: 90vh;
      object-fit: cover;
    }
  }
  &__content {
    flex: 1;
    padding: 0 50px;
  }
  &__title {
    font-weight: 200;
    display: block;
    font-size: 2em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }
  &__descr {
    margin: 20px 0px;
  }
  &__price {
    font-weight: 100;
    font-size: 40px;
  }
  &__features {
    margin: 30px 0;
    width: 50%;
    display: flex;
    justify-content: space-between;
  }
  &__send {
    width: 50%;
    display: flex;
    justify-content: space-between;
  }
  &__color {
    display: flex;
    align-items: center;
    span {
      font-size: 20px;
      font-weight: 200;
    }
  }
  &__circle {
    width: 20px;
    height: 20px;
    margin: 0px 5px;
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid black;
    transition: .3s all;
    &_active {
      transform: translateY(-5px);
    }
  }
  &__size {
    span {
      font-size: 20px;
      font-weight: 200;
    }
    select {
      margin-left: 10px;
      padding: 5px;
    }
  }
  &__calc {
    display: flex;
    align-items: center;
  }
  &__sum {
    width: 30px;
    height: 30px;
    border-radius: 10px;
    border: 1px solid teal;
    margin: 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__submit {
    padding: 15px;
    border: 2px solid teal;
    background-color: white;
    cursor: pointer;
    font-weight: 500;
    text-transform: uppercase;
  }
  &__minus, &__plus {
    font-size: 1.5rem;
    width: 1em;
    height: 1em;
    line-height: 1em;
    text-align: center;
    cursor: pointer;
  }
}

.sort {
  &__title {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    margin: 20px;
  }
  &__filters {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__product {
    margin: 20px;
    span {
      font-size: 20px;
      font-weight: 600;
      margin-right: 20px;
    }
    select {
      padding: 10px;
      margin-right: 20px;
    }
  }
  &__price {
    margin: 20px;
    span {
      font-size: 20px;
      font-weight: 600;
      margin-right: 20px;
    }
    select {
      padding: 10px;
      margin-right: 20px;
    }
  }
}

.cart {
  padding: 20px;
  &__title {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: 300;
    text-align: center;
  }
  &__nav {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-cont {
      padding: 10px;
      font-weight: 600;
      font-size: 13.3px;
      cursor: pointer;
      background-color: transparent;
      text-align: center;
      border-width: 2px;
      border-style: outset;
      border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
      text-decoration: none;
      color: black;
    }
    &-links {
      a {
        margin: 0px 10px;
        color: black;
      }
    }
    &-checkout {
      padding: 10px;
      font-weight: 600;
      cursor: pointer;
      border: none;
      background-color: black;
      color: white;
      border: none;
    }
  }
  &__wrapper {
    display: flex;
    justify-content: space-between;
  }
  &__items {
    flex: 3;
    hr {
      background-color: #eee;
      border: none;
      height: 1px;
    }
  }
  &__item {
    display: flex;
    justify-content: space-between;
    &-img {
      flex: 0.5;
      img {
        width: 100%;
      }
    }
    &-content {
      flex: 1;
      padding: 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }
    &-features {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    &-name, &-id, &-size {
      font-weight: bold;
      span {
        font-weight: normal;
      }
    }
    &-circle {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: black;
    }
    &-calc {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
      span {
        font-size: 32px;
        cursor: pointer;
      }
      div {
        font-size: 24px;
        margin: 5px;
      }
    }
    &-price {
      font-size: 30px;
      font-weight: 200;
    }
  }
  &__order {
    flex: 1;
    border: 0.5px solid lightgray;
    border-radius: 10px;
    padding: 20px;
    height: 50vh;
    &-title {
      font-weight: 200;
      display: block;
      font-size: 2em;
    }
    &-content, &-total {
      display: flex;
      justify-content: space-between;
      margin: 30px 0px;
    }
    &-total {
      div, span {
        font-weight: 500;
        font-size: 24px;
      }
    }
    &-checkout {
      width: 100%;
      padding: 10px;
      background-color: black;
      color: white;
      font-weight: 600;
      border: none;
    }
  }
}

.create {
  width: 100vw;
  height: 100vh;
  background: linear-gradient( rgba(255,255,255,0.5), rgba(255,255,255,0.5) ), url(https://images.pexels.com/photos/6984661/pexels-photo-6984661.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940) center;
  display: flex;
  align-items: center;
  justify-content: center;
  &__wrapper {
    width: 40%;
    padding: 20px;
    background-color: white;
  }
  &__title {
    font-size: 24px;
    font-weight: 300;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    display: block;
  }
  &__form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    input {
      flex: 1;
      margin: 20px 10px 0px 0px;
      padding: 10px;
    }
    span {
      font-size: 12px;
      margin: 20px 0px;
    }
    &-submit {
      width: 40%;
      border: none;
      padding: 15px 20px;
      background-color: teal;
      color: white;
      cursor: pointer;
    }
  }
}

.login {
  width: 100vw;
  height: 100vh;
  background: linear-gradient( rgba(255,255,255,0.5), rgba(255,255,255,0.5) ), url(https://images.pexels.com/photos/6984650/pexels-photo-6984650.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940) center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  &__wrapper {
    width: 25%;
    padding: 20px;
    background-color: white;
  }
  &__title {
    font-size: 24px;
    font-weight: 300;
  }
  &__form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    input {
      flex: 1;
      margin: 10px 0;
      padding: 10px;
    }
    &-submit {
      width: 40%;
      border: none;
      padding: 15px 20px;
      background-color: teal;
      color: white;
      cursor: pointer;
      margin-bottom: 10px;
      text-align: center;
    }
    &-link {
      margin: 5px 0px;
      font-size: 12px;
      text-decoration: underline;
      cursor: pointer;
      color: black;
    }
  }
}

@media (max-width: 1200px) {
  .product__features, .product__send {
    width: 100%;
  }
}

@media (max-width: 925px) {
  .slider {
    &__item {
      &-content {
        h1 {
          font-size: 54px;
          span {
            font-size: 15px;
          }
        }
      }
    }
  }
  .footer {
    flex-direction: column;
  }
}

@media (max-width: 884px) {
  .footer {
    flex-direction: column;
  }
  .slider {
    &__item {
      padding-left: 50px;
      &-img {
        display: none;
      }
    }
  }
}

@media (max-width: 734px) {
  .newseller__form {
    flex-direction: column;
  }
}

@media (max-width: 574px) {
  .header__promo {
    flex-direction: column;
    padding: 10px 0;
  }
}
