.slider {
  position: relative;
  height: 100vh;
  &__item {
    height: 100%;
    background-color: #fbf0f4;
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    padding-right: 50px;
    &-img {
      height: 100vh;
      flex: 1;
      z-index: 1;
      position: relative;
      &-circle {
        width: 50%;
        height: 50%;
        position: absolute;
        top: 30%;
        transform: translateY(-30%);
        left: 10%;
        z-index: -1;
        background-color: black;
        border-radius: 50%;
      }
      img {
        height: 100%;
      }
    }
    &-content {
      flex: 1;
      h1 {
        font-size: 70px;
      }
      span {
        display: block;
        margin: 50px 0px;
        font-size: 20px;
        font-weight: 500;
        letter-spacing: 3px;
        height: 40px;
        line-height: 20px;
      }
      a {
        padding: 10px 0 10px 10px;
        font-size: 20px;
        background-color: transparent;
        border-width: 2px;
        border-style: outset;
        border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
        display: block;
        width: 180px;
        text-align: center;
        text-decoration: none;
        color: white;
      	border: none;
      	padding: 10px 20px;
      	position: relative;
        color: black;
        transition: all 0.85s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        z-index: 1;
        &:after {
          content: '\2192';
          padding-right: 0.5em;
          position: absolute;
          top: 18%;
          right: 1%;
          transition: all 0.85s;
          opacity: 0;
          color: white;
        }
        &:before {
          z-index: -1;
          transition: all 0.85s cubic-bezier(0.68, -0.55, 0.265, 1.55);
      		content: '';
      		width: 50%;
      		height: 100%;
      		background: grey;
      		position: absolute;
      		top: 0;
      		left: 0;
        }
        &:hover {
          color: white;
          &:before {
            background: black;
			      width: 110%;
          }
          &:after {
            right: -5%;
            opacity: 1;
          }
        }
      }
    }
  }
  &__right, &__left {
    position: absolute;
    top: 40%;
    width: 50px;
    height: 50px;
    background-color: #fff7f7;
    border-radius: 50%;
    opacity: 0.5;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    svg {
      fill: currentColor;
      width: 1em;
      height: 1em;
      display: inline-block;
      font-size: 1.5rem;
      transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
      flex-shrink: 0;
      user-select: none;
    }
  }
  &__right {
    right: 2%;
  }
  &__left {
    left: 2%;
  }
}

.slick {
  &-track {
    display: flex;
  }
  &-slide {
    display: flex;
    height: auto;
    align-items: center;
    justify-content: center;
  }
  &-list {
    overflow: hidden;
    cursor: grab;
    &:active {
      cursor: grabbing;
    }
  }
}
