.login {
  width: 100vw;
  height: 100vh;
  background: linear-gradient( rgba(255,255,255,0.5), rgba(255,255,255,0.5) ), url(https://images.pexels.com/photos/6984650/pexels-photo-6984650.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940) center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  &__wrapper {
    flex: 0.3;
    padding: 20px;
    background-color: white;
  }
  &__title {
    font-size: 24px;
    font-weight: 300;
  }
  &__form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    input {
      flex: 1;
      margin: 10px 0;
      padding: 10px;
    }
    &-submit {
      width: 40%;
      border: none;
      padding: 15px 20px;
      background-color: teal;
      color: white;
      cursor: pointer;
      margin: 10px 0;
      text-align: center;
      &:disabled {
        opacity: 0.65;
        cursor: not-allowed;
      }
    }
    &-link {
      margin: 5px 0px;
      font-size: 12px;
      text-decoration: underline;
      cursor: pointer;
      color: black;
    }
  }
  .errorMessage {
    color: red;
    font-size: 12px;
    padding-left: 10px;
  }
}
