.create {
  width: 100vw;
  height: 100vh;
  background: linear-gradient( rgba(255,255,255,0.5), rgba(255,255,255,0.5) ), url(https://images.pexels.com/photos/6984661/pexels-photo-6984661.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940) center;
  display: flex;
  align-items: center;
  justify-content: center;
  &__wrapper {
    width: 40%;
    padding: 20px;
    background-color: white;
  }
  &__title {
    font-size: 24px;
    font-weight: 300;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    display: block;
  }
  &__form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    &-input {
      flex: 1;
      display: flex;
      flex-direction: column;
      input {
        margin: 20px 10px 0px 0px;
        padding: 10px;
      }
    }

    span {
      font-size: 12px;
      margin: 20px 0px;
    }
    &-submit {
      width: 40%;
      border: none;
      padding: 15px 20px;
      background-color: teal;
      color: white;
      cursor: pointer;
    }
    &-links {
      display: flex;
      align-items: center;
      a {
        margin: 5px 10px 0 0;
        font-size: 12px;
        text-decoration: underline;
        cursor: pointer;
        color: black;
        text-transform: uppercase;
      }

    }
  }
  .errorMessage {
    color: red;
    font-size: 12px;
    padding: 10px 0 0 10px;
  }
}
